.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;

    .card {
        position: relative;
        width: 200px;
        height: 300px;
        background: rgba(255, 255, 255, 0.05);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);

        .content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.5s;

            .img-box{
                display: flex;
                width: 150px;
                height: 150px;
                overflow: hidden;

                img {
                    height: 45px;
                    margin: auto;
                }
            }

            .content-box {
                text-align: center;
                
                .card-title {
                    color: #000;
                    //letter-spacing: 1px;
                    //font-family: 'Azeret Mono';
                    font-weight: 500;
                    font-size: 1.2em;
                    margin: 10px 0 5px;
                    //line-height: 1em;
                    transition: all 0.3s ease-out;
                    background: linear-gradient(to right, $color-left, $color-right);
                    background-clip: text;
                }

                .card-date {
                    font-size: 0.9em;
                    font-weight: 300;
                    text-transform: capitalize;
                    color: grey;
                }
            }
        }

        .card-job {
            opacity: 0;
            transform: translateY(40px);
            transition: 0.5s;
        }

        &:hover{

            .content{
                transform: translateY(-20px);
            }

            .card-title {
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in;
            }

            .card-job{
                transform: translateY(0px);
                opacity: 1;
            }
        }


    }

    .breaker {
        display: none;
      }
    .breaker:nth-child(5n) {
    display: block;
    width: 100%;
    height: 0;
    }
}