header {
    width: 100%;
    height: 64px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px);
    z-index: 1;
    
    ul {
        flex: 2;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        height: 30px;
        align-items: center;
        
        li > a {
            letter-spacing: 2px;
            font-family: monospace;
            font-weight: 600;
            text-decoration: none;
            font-size: 1em;

            br {
                display: none;
            }
        }
    }

    .logo {
        color: $base-color;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-family: Times;
        font-size: 1.5em;
        //letter-spacing: -1px;
        text-decoration: none;
        padding-right:40px;
        height: 30px;
        align-items: center;
        font-family: 'Azeret Mono';
        font-weight: 900;

        #logo-short {
            content: 'GD';
            display: none;
        }

        #logo-text {
            //transition: 0.3s;
            //animation: fade 1s ease-in-out 1s;
            transition: all 0.3s ease-out;
            background: linear-gradient(to right, $color-left, $color-right);
            background-clip: text;

            &:hover {
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    header {
        ul {
            flex: 8;
            letter-spacing: 1px;
            padding-left: 20px;

            li > a {
                font-size: 1em;

                br {
                    display: inline;
                }
            }
        }

        .logo {
            font-size: 2em;
            padding-right: 20px;

            #logo-text {
                display: none;
            }

            #logo-short {
                display: block;
            }
        }
    }
}