$base-color: black;

header {
    width: 100%;
    height: 64px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px);
    z-index: 1;
    
    ul {
        flex: 2;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        letter-spacing: 3px;
        font-family: monospace;
        list-style-type: none;
        
        li > a {
            text-decoration: none;
        }
    }

    .logo {
        color: $base-color;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-family: Times;
        font-size: 1.5em;
        letter-spacing: -1px;
        text-decoration: none;
        padding-right:40px;
    }
}
