#homescreen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (orientation: portrait) {
        img {
            object-fit: cover;
            object-position: center;
            height: 100vh;
            overflow: hidden;
        }
    }

    @media (orientation: landscape) {
        img {
            object-fit: cover;
            object-position: center;
            height: 100vh;
            overflow: hidden;
        }
    }
}