@import './header';
@import './cards';
@import './homescreen';

@mixin flexCenter() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
}

.container {
    @include flexCenter();

    > div {
        width: 70%;
        height: 100vh;
    }
    
    p {
        font-size: 20px;
    }

    #about, #projects, #publications, #moodboard, #contact {
        display: grid;
        align-items: center;
    }

    #publications {
        font-size: 20px;

        #pubs {
            padding-left: 0px;
        }

        .year {
            list-style-type: none;

            .year_number {
                display: block;
                margin: 10px 0 10px 0;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .authors {
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        > div {
            width: 90%;
            //height: 100%;
            //margin: 200px 0 200px 0;
        }

        #about, #projects, #publications, #moodboard, #contact {
            //position: relative;
            //top: 200px;
            overflow: auto;
        }

        #publications {
            font-size: 1.5vh;

            .year ul {
                padding-left: 0px;
                list-style-type: none;
                
                li {
                    margin: 20px 0 20px 0;
                }
            }
        }
    }
}