@import './header';
@import './cards';
@import './homescreen';

@mixin flexCenter() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
}

.container {
    @include flexCenter();

    >* {
        width: 70%;
        padding-top: 30vh;
    }
    
    p {
        font-size: 20px;
    }

    #about, #projects, #publications, #moodboard, #contact {
        display: grid;
        align-items: center;
    }

    #publications {
        font-size: 20px;

        #pubs {
            padding-left: 0px;
        }

        .year {
            list-style-type: none;

            .year_number {
                display: block;
                margin: 10px 0 10px 0;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .authors {
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        >* {
            width: 90%;
            padding-top: 30vh;
        }

        #publications {
            font-size: 2vh;
        }
    }
}